# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Storage buckets
TCG_DATA_BUCKET=tcg-data
TCG_IMAGES_BUCKET=tcg-images

# Geo / map
GEOAPIFY_API_KEY=
# Opzionale: utile solo se vuoi esporre la chiave sul client.
NUXT_PUBLIC_GEOAPIFY_API_KEY=
NUXT_PUBLIC_GEOAPIFY_MAP_STYLE=osm-carto
