SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

PRICES_BUCKET=prices
PRICES_OBJECT=one-piece.min.json

GEOAPIFY_API_KEY=
# Opzionale: utile solo se vuoi esporre la chiave sul client.
NUXT_PUBLIC_GEOAPIFY_API_KEY=
NUXT_PUBLIC_GEOAPIFY_MAP_STYLE=osm-carto
